{% extends 'base.html.twig' %}

{% block title %}Not found data :( {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2>I'm sorry, but there are no data for  </h2>
    
    <h1>{{ country }}</h1>
    <h1>{{ city }}</h1>


</div>
{% endblock %}
